.ICE*
.Skype/
.Xauthority*
.goutputstream*
.oh-my-zsh/
.Idea*
.cache/
.compiz*
.config/
.conky/
.conkyrc
.dbus/
.designer/
.dia/
.dmrc
.dropbox*
.eclipse/
.fehbg
.fluxbox/
.font*
.gconf/
.gnome*
.gstreamer*
.gtk-bookmarks
.java/
.launchpadlib/
.lesshst
.local/

Downloads/
Dropbox/
.bash_history
.bash_logout
.bzr.log
.gitignore.swp
.gksu.lock
.macromedia/
.microsoft/
.mission-control/
.mozilla/
.pki/
.profile
.pulse-cookie
.pulse/
.ssh/
.thumbnails/
.thunderbird/
.vim/
.viminfo
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-ubuntu-4.3.17
.zsh-update
.zsh_history
DCL/
DisCODe/
Documents/
Menu.java
Music/
Pictures/
Piotrek/
SDI_duza_prezentacja.pdf
TEST
backup/
biometria
conky_configs/
doxygen/
eclipse/
examples.desktop
gmock-1.7.0/
googletest/
gtest-1.7.0/
idea-IC-129.1359/
libfreenect/
missfont.log
plan_wstepny_zpr
plan_wstepny_zpr~
qt_qiubix.xml
samiam/
smile/
src/
test.c
wzorce_projektowe
zpr_tematy.txt
Qt*
